__pycache__/
scratch/
venv/
main_cli.build/
main_cli.dist/

.DS_Store
test_config.ini
test_credentials.txt
test_log_current.txt
test_log_time.txt
test_log_history.txt
test_projects.txt
working_authentication.py
working_scratch1.py
myhours-app.code-workspace
